body {
	font-family: "Garamond";
}

/*
#heading {
	background-image: url("sky.jpg");
	background-color: #c2eafc;
}

#navigation {
  background-color: #9e8775
}

#logo {
	font-size: 50px;
	font-weight: bold;
	color: white;
}

.hogwarts {
	display: inline;
	float: right;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
  float: left;
  display: block;
  padding: 8px;
  
}

fieldset {
	background-color: #E0E0FF;
	border: 2px outset gray;
	border-radius: 10px;
	
}

legend{
	border: 1px solid black;
	background-color: white;
}

#footer {
	text-align: right;
}

a {
	background-color: black;
}
*/